/*底部按鈕*/
.bottom_uform_button
{
	float: right;
}
#uform_table { width: 725px; }
/*table字樣設定*/
#uform_table tr td
{
	font-family: '微軟正黑體';
	font-size: 20px;
}
/*table寬度設定*/
#col_table, #h_col_table, #c_col_table
{
	width: 100%;
}
#col_table tr td, #h_col_table tr td, #c_col_table tr td
{
	padding-bottom: 5px;
}
/*validate*/
label.error {
	padding-left: 10px;
	font-size: 16px;
    color: red;
	font-family: '微軟正黑體';
}

label.success {
	padding-left: 0px;
}
/*input width*/
input[type=text], #ufm_col_num
{
	width: 484px;
}
input[type=number]
{
	width: 484px;
}
/*標題欄位名稱位置*/
.table-cell-right
{
	text-align: right;
	width: 150px;
}
.table-cell-center
{
	text-align: center;
}
.table-cell-left
{
	text-align: left;
}
/******************HOVER*****************************/	
.why{
	display: inline-block;
	margin: 0px 4px 0px 2px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #aaaaaa url(/images/ico-why.jpg) no-repeat center center;
	text-align: center;
	position: relative;
	font: "Myriad Pro", Helvetica, Arial;
	text-indent: -5000px;
	top:8px;
	z-index: 1;
	}
.prompt-box {
    display: none;
	position: absolute;
	margin-left: 0px;
	margin-top: 3px;
    border:1px dashed #000;
	font-size: 16px;
	background-color: lightyellow;
	padding: 8px 8px 8px 8px;
	z-index: 2;
	line-height: 24px;
	width: 484px;
}
.why:hover + .prompt-box {
    display: block;
}
.aa7{
	display:inline-block;
	padding:6px 14px;
	color:#FFF;
	background:#B2A171;
	border-radius:2px;
	font-family: '微軟正黑體';
	}
table.personal-info input[type='text'], table#personal-info input[type='text'].iii1,
table.personal-info input[type='number'], table.personal-info input[type='url'], table.personal-info select, table.personal-info textarea,
table.personal-info input[type='email'].iii1 {
	width:140px;
	padding:7px;
	border:1px solid #CAC2A9;
	border-radius:3px;
	margin:0px 3px;
	font-size:1em;
	font-family: 'Microsoft Jhenghei';
	
	-webkit-box-shadow: inset 3px 3px 5px  #eee;
  	-moz-box-shadow: inset 3px 3px 5px #eee;
	box-shadow: inset 3px 3px 5px #eee;
}